@import "../bower_components/purecss/pure-min.css";
@import "../bower_components/animate.css/animate.min.css";

$container-size: 625px;
$primary-color:#53c1ff;
$background-color:#fafafa;
$font-size: 0.8em;
$font-color: #444;
$font-family-headers: "Bookman", Georgia, "Times New Roman", serif;
$font-family-body: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;

@mixin box-shadow($inset:null, $hoff:0, $voff:0px, $blur:3px, $spread:0px, $color:rgba(0,0,0,0.5)) {
  -webkit-box-shadow: $inset $hoff $voff $blur $spread $color;
  -moz-box-shadow: $inset $hoff $voff $blur $spread $color;
  -o-box-shadow: $inset $hoff $voff $blur $spread $color;;
  box-shadow: $inset $hoff $voff $blur $spread $color;
}
@mixin text-shadow($hoff: 0, $voff: -2px, $blur: 0px, $color:rgba(255,255,255,0.5)) {
  -webkit-text-shadow: $hoff $voff $blur $color;
  -moz-text-shadow: $hoff $voff $blur $color;
  -o-text-shadow: $hoff $voff $blur $color;
  text-shadow: $hoff $voff $blur $color;
}
@mixin border-radius($radiusX:5px, $radiusY:5px) {
  -webkit-border-radius: $radiusX $radiusY;
  -moz-border-radius: $radiusX $radiusY;
  -ms-border-radius: $radiusX $radiusY;
  border-radius: $radiusX $radiusY;
}

@mixin disable-select {
  //disable text select for all browsers
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: $background-color;
  font-family: $font-family-body;
  font-size: $font-size;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: $font-family-headers;
  @include text-shadow;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.main {
  width: $container-size;
  margin: 0 auto;
  padding:20px;
}

.test {
  width:100%;

  //fancy background image
  background-color: #FFFFE0;
  background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 2em;
}



.test-form {
  padding:10px 0 20px 93px;
}

.answer-list{
  margin:0 0 20px -15px;

  li {
    position: relative;
    font-size: 0.9em;

    input[type="radio"]{
      display: none;
      margin-right:10px;
    }
    label{
      margin:0;
      padding:3px 0;
      cursor: pointer;
      display: inline-block;
      @include disable-select;
      font-weight: bold;
    }

    input[type="radio"] + label:before{
      content: '';
      display: inline-block;
      background: #fff;
      border: 1px solid #CCCCCC;
      vertical-align: middle;
      @include border-radius(50%, 50%);
      @include box-shadow(inset);
      width: 20px;
      height: 20px;
      padding: 2px;
      margin-right: 10px;
      text-align: center;
    }

    label:hover{
      color: $primary-color;
    }

    input[type="radio"]:checked + label {
      color: $primary-color;
    }

    input[type="radio"] + label:hover:after {
      content:'';
      display: inline-block;
      position: absolute;
      left:6px;
      top:9px;
      background-color: lighten($primary-color, 25%);
      @include border-radius(50%, 50%);
      width: 14px;
      height: 14px;
    }

    input[type="radio"]:checked + label:after{
      content:'';
      display: inline-block;
      position: absolute;
      left:6px;
      top:9px;
      background-color: $primary-color;
      @include border-radius(50%, 50%);
      width: 14px;
      height: 14px;

    }
  }
}

.test-completed{
  padding:20px;
}

.question {
  padding-top:0.5em;

  @include border-radius(8px, 8px);
  h3{
    margin:0 0 10px 0;
    @include text-shadow($color:#fff);
  }
  p{

    margin:0 0 10px 0;
  }
}

.hide{
  display: none;
}

.test-title {
  margin-bottom: 30px;
}
